*{
    padding:0px;
    margin:0px;

    color: white;
}

/* Background Gradient */
.bg{
    background-image: linear-gradient(to bottom right, rgb(31, 14, 128), rgb(72, 18, 94));
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:100%;
}


/* Overall Grid Structure */
.overall_grid{
    display:grid;
    grid-template-columns: 1fr;

    background-color: blue;
}
.main_card{
    padding:1.5rem;
    text-align:center;
}

/* Navigation */
.nav_grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position:sticky;
    top:0;
    background-color:rgb(107, 23, 140, 0.3);
}
.nav_card{
    font-size: 1.3rem;
    
}
.nav_card a{
    border: 5px solid rgb(131, 19, 125);
    border-radius:15px;

    background-color: rgb(131, 19, 125);
    padding: 0.5rem;

    text-decoration: none;
}
.nav_card a:hover{
    background-color: rgb(167, 26, 159);
}

/* Responsive Navigation */
.topnav{
    overflow:hidden;
    background-color:rgb(107, 23, 140, 0.3);
    position:relative;
    display:none;
}
.topnav #myLinks{
    display:none;
}
.topnav a{
    color:white;
    padding:14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav a.icon{
    background: rgb(107, 23, 140, 0.3);
    display:block;
    position:absolute;
    right:0;
    top:0;
}
.topnav a:hover{
    background-color:rgb(167, 26, 159);
    color:white;
}

.active{
    background-color:rgb(107, 23, 140, 0.3);
    color:white;
}

/* Introduction */
.intro{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.intro_title{
    grid-column: 1 / 5
}
.intro_card p{
    font-size: 1.3rem;
    padding-top:1rem;
}


/* Project List */
.project_list{
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 1fr
}
.project_card{
    margin:2rem;
    padding:2rem;
    background-color:rgb(36, 87, 255, 0.1);
    height:20rem;
    width:35rem;
    transition: width 2s, height 2s;
    border-radius:30px;
}
.project_card:hover{
    text-align:center;
    height:25rem;
    width:40rem;
}

.project_card a{
    text-decoration:none;
}
.project_card img{
    height: 80%;
    padding-top:1rem;
    padding-bottom:1rem;
    max-width:100%;
}
.invisible{
    background:none;
}

/* Footer */
/* So far no code necessary */

/* Project Pages */
.video_section video{
    width:60%;
    border-radius: 2rem;
}
.video_section h2{
    padding:1rem;
}
.screenshots{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.screenshot_title{
    grid-column: 1 / 4;
    padding:1rem;
}
.screenshot_card img{
    width:100%;
    padding-top:1rem;
    padding-bottom:1rem;
}

/* Responsive Design */
@media screen and (max-width:768px){
    /* Navigation */
    .nav_grid{
        display:none;
    }
    .topnav{
        display:block;
    }

    /* Introduction */
    .intro{
        grid-template-columns: 1fr;
    }
    .invisible{
        display:none;
    }

    /* Project List */
    .project_list{
        grid-template-columns:1fr;
    }
    .project_card{
        width:80%;
        transition:height 2s;
        margin-bottom:1rem;
        margin-top:1rem;
        margin-left:0;
        margin-right:0;
    }
    .project_card img{
        height:65%;
    }
    .project_card:hover{
        width:80%;
        height:22rem;
    }

    /* Project Pages */
    .video_section video{
        width: 90%;
    }

    .screenshots{
        grid-template-columns: 1fr;
    }
    .screenshot_title{
        grid-column: 1 / -1;
    }
}

